.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
    margin: 0 20px;
  }
  
  /* Arrow styling */
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    /* Color of the arrow */
    position: absolute;
    top: 20px;
    right: 8px;
  }
  
  .arrow.up {
    transform: rotate(180deg);
    /* Rotate the arrow when dropdown is open */
  }
  
  /* Dropdown menu styling */
  .dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--lightpurple);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    max-height: 178px;
    overflow-y: auto;
  }
  
  /* Dropdown item styling */
  .dropdown-menu li {
    padding: 0;
  }
  
  /* Selected item color change */
  .dropdown-selected {
    color: #fff;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    background-color: var(--lightpurple);
    text-align: center;
    border-radius: 5px;
  }
  
  /* Scrollbar styling for dropdown */
  .dropdown-menu::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the track */
    border-radius: 4px;
    /* Rounded track corners */
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Rounded scrollbar corners */
    border: 2px solid #f1f1f1;
    /* Space around the thumb */
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color when hovered */
  }
  
  
  .dropdown-item {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #ddd;
    color: #888;
    outline: none;
  }
  
  .dropdown-menu li:hover,
  .dropdown-menu li:focus {
    background-color: #ddd;
    outline: none;
  }